
body{
  background-color: #282c34;
}
.full{
  display: flex;
}
.board{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-color: aqua;
}
.board-row{

  width: 10px;
  height: 10px;
}
.square{
  width: 10px;
  height: 10px;
  border: 1px;
  border-style: solid;
  border-color: aqua;
}