
body{
  background-color: #282c34;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-grid{
  box-sizing: border-box;
  display: flex;
  border: 1px aqua solid;
  width: 800px;
  height: 800px;
  justify-content: center;
}
.square{
  box-sizing: border-box;
  width: 37.5px;
  height: 37.5px;
  border: 0.5px solid aqua;
}

.button{
  border: 1px solid aqua;
  background-color: aqua;
  height: 30px;
  width: 70px;
  color: #282c34;
  border-radius: 10px;
  text-align: center;
  margin-right: 100px;
  margin: 5px;
}
/*
.fullBoard{
  display: flex;
  height: 353px;
}
.board{
  display: flex;
  justify-content: center;
  border: 1px;
  border-style: solid;
  border-color: aqua;
}
.board-row{
  width: 20px;
  height: 20px;
}

*/